
.red{
     color: #E6533C;
    
}
.heading{
     font-size: 30px;
     font-weight: 800;
     font-family: Inter;
     font-style: italic;
}
.background{
     background-color: #E6533C;
     border-radius: 15px;
   padding: 4px 10px 4px 10px;
    
}
nav a{
     text-decoration: none;
     color: white;
}
.icons{
     border: 2px solid grey;
     border-radius: 35px;
     display: flex;
     gap: 10px;
     align-items: center;
     padding-right: 10px;
   
     
}
.front-page{
     
     background-color:#222222 ;
}
nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.front-page{
     padding-left: 140px;
     padding-top: 30px;
     padding-right: 130px;
}
.slogan{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 50px;
font-weight: 800;


text-align: left;
}
.font-style{
     font-family:Brush Script MT;
     font-weight: 200px;
}
.content{
     font-family: Inter;
     font-size: 15px;
     font-weight: 200px;
     text-align: left;
     color: rgba(255, 255, 255, 0.5);
     margin-top: 15px;
     margin-bottom: 50px;
}
.button{
     height: 28px;
     width: 120px;
     border-radius: 15px;
     gap: 10px;
     text-decoration: none;
     color: white;
     align-items: center;
     justify-content: center;
     display: flex;
     border: 1px solid gray;
     border-radius: 15px;
     padding: 3px;
     
}
.seperate{
     display: flex;
   gap: 10px;
}
.picture{
width: 300px;
height: 550px;
position: relative;

}

.section-item{
     display: flex;
     gap: 10px;
     align-items: center;
     justify-content: space-between;
}

.card-one{
     background-color: rgba(48, 48, 48, 0.54);
 box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
color: white;
display: flex;
align-items: center;
justify-content: space-between;
gap: 5px;
width: 200px;
height: 90px;
padding-left: 20px;
padding-right: 20px;
position: absolute;
bottom: 50px;
right: 350px;



}
.card-two{
     background-color: rgba(48, 48, 48, 0.54);
 box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);

color: white;
display: flex;
align-items: center;
justify-content: space-between;
gap: 2px;
width: 200px;
height: 130px;
padding-left: 20px;
padding-right: 20px;
position: absolute;
top: 260px;
right: 50px;

}
.bold{
     font-size: 40px;
}
.circle{
     background-color: #E6533C;
     height: 40px;
     width: 40px;
     border-radius: 100%;
}
/* responsive for smaller device
@media screen and (max-width:576px) {
     
} */
/* second page */
.second-page{
     background-color: black;
     font-family: Inter;
     padding-left: 170px;
     padding-right: 170px;
     padding-top: 110px;
     padding-bottom: 110px;
}
.header-element{
     
    text-align: center;
    
}
.headline{
     font-size: 40px;
     font-weight: 800px;
     color: white;
     

}
.paragraph{
     color: rgba(255, 255, 255, 0.5);
     margin-top: -15px;
}
.image-content{
height: 200px;
width: 200px;
border-radius: 100%;
}
.photoes{
display: flex;
justify-content: space-around;
gap: 50px;
margin-top: 50px;
}
.topic{
color: white;
}
.second-content{
     display: flex;
     flex-direction: column;
     align-items: center;
     
}
/* @media screen and (max-width:576px) {
     
} */

/* 3rd page content */
.third-page{
     background-color: rgb(34, 34, 34);
     color: white;
     display: flex;
     justify-content: space-around;
     font-family: Inter;
     padding-left: 90px;
     padding-right: 90px;
     padding-top: 50px;
     padding-bottom: 50px;
     gap: 100px;
     margin: 100px 180px 100px 180px;
     border-radius: 18px;
}
.square-pic{
     border-radius: 18px;
     width: 366px;
     height: 312px;
}
.back-color{
background-color: black;
margin-top: -100px;
margin-bottom: -100px;
}
/* @media screen and (max-width:576px) {
     
} */
 /* fourth page content */
 .fourth-page{
     
     text-align: center;
     padding-top: 0px;
     padding-bottom: 100px;
     background-color: black;
     font-family: Inter;
 }
 .main-header{
padding-left: 380px;
padding-right: 380px;
padding-bottom: 50px;

margin-bottom: -16px;
padding-top: 50px;

 }
 .small-heading{
     font-size: 28px;
     font-weight: 900
}
 .table-content{
     display: flex;
     justify-content: space-between;
     padding-left: 180px;
     padding-right: 180px;
     padding-bottom: 70px;
     background-color:  rgb(34, 34, 34);;
     
 }
 .table-element{
     padding-top: px;
     border-collapse: collapse;
 }
 .top-line{
     color: white;


 }
 th,td{
     padding: 15px;
 }
.form-input{
     border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
color:  rgba(255, 255, 255, 0.6);


padding: 10px 15px 10px 15px;

}
.joint-form{
     display: flex;
     justify-content: center;
     gap: 6px;
     margin-top: 10px;
    
}
.age{
     margin-left: -50px;
}
.gender{
    width: 180px; 
    margin-right: -50px;
    
}
.activity{
     width: 370px;
     margin-bottom: 50px;
     margin-top: 10px;
}
.description{
     margin-bottom: 55px;
}
.calculator{
     margin-left: 100px;
     margin-top: -20px;
}

/* @media screen and (max-width:576px) {
     
} */
 /* fifth page content */
 .fifth-page{
     background-color: black;
     padding: 10px 170px 70px 170px;
     font-family: Inter;

 }
 .img-pic{
     position: relative;
 }
 .img-text{
position: absolute;
bottom: 6px;
left: 10px;
color: white;

 }
 .img-text p {
     margin-top:-19px;
     }
 .fifth-content{
     text-align: center;
     padding-bottom: 50px;
 }
.fifth-page-pics{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     row-gap: 15px;
     column-gap: 10px;
     background-color: rgb(32, 32, 32);
     border-radius: 18px;
     padding: 10px 15px 10px 10px;

}
.fifth-page-pics img{
     height: 275px;
     width: 318px;
     border-radius: 18px;
}
/* unique page */
.unique{
     background-color: black;
     padding-top: 50px;
     text-align: center;
     font-family: Inter;
}
/* @media screen and (max-width:576){
     
/*  
/* footer page */
.footer{
     
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-left:100px ; 
     padding-right:100px ;
     gap: 70px; 
}
.anchor-one a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.5);
     

}
.anchor-two a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.5);
     

}

.anchor-two{
     margin-top: -15px;
}
.anchor-one{
     margin-top:-50px ;
}
.footer-head{
     font-family: Inter;
font-size: 25px;
font-weight: 600;
color: white;
padding-bottom: -10px;
}
.line{
    color: rgb(68, 66, 66);
    margin-top: 10px;
}
.last-paragraph{
     text-align: center;
     color: antiquewhite;
     padding-bottom: 20px;
}
.last-section{
     background-color: rgb(37, 37, 37);
}